* text eol=lf
/tests/*.sql linguist-detectable=false
entrypoint.sh linguist-detectable=false
Dockerfile linguist-detectable=false

/.github            export-ignore
/coverage           export-ignore
/tests              export-ignore
/.dockerignore      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.php-cs-fixer.php  export-ignore
/Dockerfile         export-ignore
/docker-compose.yml export-ignore
/entrypoint.sh      export-ignore
/phpcs.xml          export-ignore
/phpunit.xml        export-ignore
